/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.flex{
    display: flex;
}

.sp-btw{
    justify-content: space-between;
}

.sp-arr{
    justify-content: space-around;
}

.sp-cen{
    justify-content: center;
}

.al-cen{
    align-items: center;
}

.wrap{
    flex-wrap: wrap;
}

.bg-lightblue{
    background-color: #b4d0e7;
}

.check{
    border: 3px dashed red;
}

.pad-sm{
    padding: 0 25rem;
}

.mar-bg{
    margin: 0 30rem;
}

div.left-nav img{
    padding-right: 1rem;
}

.left-nav, .right-nav{
    padding: 1.5rem 1rem;
}

header li{
    float: left;
    list-style-type: none;
    padding: 0rem 1rem;
}

a{
    color: black;
    text-decoration: none;
}

.blu-bott{
    background-color: #0061ff;
    color: white;
    padding: 0.5rem 1rem;
}

.white-bott{
border: 1px solid black;
padding: 0.5rem 1rem;
}

div.prova-gratuita h1{
    font-size: 5.5rem;
    padding: 4rem 0;
}

div.pg-testo p{
    padding: 0 1rem 2rem 1.5rem;
    font-size: 1.1rem;
}

div.pg-testo p:nth-child(4){
    font-size: 4rem;
    padding-top: 4rem;
}

div.pg-info img{
    width: 50rem;
}

div.titolo-puls{
    padding: 2rem 0;
}

h2{
    font-size: 2.7rem;
    padding-bottom: 2rem;
}

div.info span{
    padding: 20rem 5rem 20rem 0;
}

input[type='radio'] { 
    transform: scale(1.5);
    margin: 0.5rem;
}

.border{
    border: 1px solid lightgray;
}

.singolo{
    width: 20rem;
}

.titolo{
    padding: 0.5rem;
}

.price-info{
    padding: 1.5rem;
}

.piano-team{
    padding: 3rem 0;
}

div.partner img{
    width: 60%;
}

.partner{
    padding: 4rem 0;
}

.small-box{
    width: calc((100% / 3) - 3rem);
}

.small-box img{
    width: 100%;
}

.box{
width: calc(100% / 3);
}

.super-small-box{
    width: calc(100% / 2);
    aspect-ratio: 1;
}

div.super-small-box img{
    width: 50%;
    filter: invert(100%);
}

.bg-green{
    background-color: #A2D39B;
    border: 1rem solid #D1E9CD;
}

.bg-bordeaux{
    background-color: #61082B;
}

.bg-wblu{
    background-color: #0093CE;
}

.bg-lightred{
    background-color: #FF1C1C;
}

.bg-darkred{
    background-color: #D5001F;
}

.bg-darkblu{
    background-color: #0D2481;
}

.bg-yellow{
    background-color: #FFD830;
}

.bg-lightgrey{
    background-color: #F5F5F5;
}

.pad-3rem{
    padding: 3rem;
}

div.box>img{
    width: 45%;
}

.prova-gratuita2{
    padding: 7rem 30rem;
}

.prova-gratuita2 h2{
    color: #61082A;
    width: 50%;
    padding-bottom: 0;
}

.prova-gratuita2 a{
    background-color: white;
    padding: 0.5rem 1rem;
}

summary{
    display: inline;
}

div.domande-frequenti{
    padding: 10rem 0;
}

div.domande-frequenti hr{
    margin: 2rem 0;
}