/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.sp-btw{
    justify-content: space-between;
}

.sp-arr{
    justify-content: space-around;
}

.bg-lightblue{
    background-color: #b4d0e7;
}

li{
    float: left;
    list-style-type: none;
}