/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.flex{
    display: flex;
}

.sp-btw{
    justify-content: space-between;
}

.sp-arr{
    justify-content: space-around;
}

.sp-cen{
    justify-content: center;
}

.al-cen{
    align-items: center;
}

.al-base{
    align-items: baseline;
}

.column{
    flex-direction: column;
}

.wrap{
    flex-wrap: wrap;
}

.pad-3rem{
    padding: 3rem;
}

.pad-sm{
    padding: 0 25rem;
}

.mar-bg{
    margin: 0 30rem;
}

.bg-lightblue{
    background-color: #b4d0e7;
}

.bg-green{
    background-color: #A2D39B;
    border: 1rem solid #D1E9CD;
}

.bg-bordeaux{
    background-color: #61082B;
}

.bg-wblu{
    background-color: #0093CE;
}

.bg-lightred{
    background-color: #FF1C1C;
}

.bg-darkred{
    background-color: #D5001F;
}

.bg-darkblu{
    background-color: #0D2481;
}

.bg-yellow{
    background-color: #FFD830;
}

.bg-lightgrey{
    background-color: #F5F5F5;
}

.blu-bott{
    background-color: #0061ff;
    color: white;
    padding: 0.5rem 1rem;
}

.white-bott{
border: 1px solid black;
padding: 0.5rem 1rem;
}

.border{
    border: 1px solid lightgray;
}

.height100{
    height: 100%;
}

#special-space{
    margin-bottom: 2.3rem;
    font-weight: 100;
}

h2{
    font-size: 2.7rem;
    padding-bottom: 2rem;
}

h3{
    font-size: 1.7rem;
}

div.left-nav img{
    padding-right: 1rem;
}

.left-nav, .right-nav{
    padding: 1.5rem 1rem;
}

header li{
    float: left;
    list-style-type: none;
    padding: 0rem 1rem;
}

a{
    color: black;
    text-decoration: none;
}

.prova-gratuita{
    margin-bottom: 8rem;
}

div.prova-gratuita h1{
    font-size: 5.5rem;
    padding: 4rem 0;
}

div.pg-testo p{
    padding: 0 1rem 2rem 1.5rem;
    font-size: 1.1rem;
}

div.pg-testo i{
    font-size: 4.5rem;
    padding: 3rem 0 1rem 1rem;
}

div.pg-info img{
    position: absolute;
    right: 15rem;
    width: 55rem;
}

div.pg-testo{
    width: 25rem;
}


div.titolo-puls{
    padding: 2rem 0;
}

div.titolo-plus span{
    padding: 20rem 5rem 20rem 0;
}

input[type='radio'] { 
    transform: scale(1.5);
    margin: 0.5rem;
}

div.piani-disp>div{
    width: calc((100% / 3) - 2rem);
    padding-bottom: 2rem;
}

div.piani-disp i{
    padding-right: 0.2rem;
}

div.price-info .flex{
    padding: 0.5rem 0;
}

div.price-info h3, div.price-info p, div.price-info h4{
    padding: 0.5rem 0;
}

div.price-info hr{
    margin: 2rem 80% 2rem 0;
    height: 1px;
    background-color: lightgray;
    border: none;
}

.bigbot{
    width: 100%;
    text-align: center;
    margin: 2rem 0 1rem 0;
}

div.price-info p a{
text-decoration: underline;
color: #0061ff;
}

div.price-info p:first-of-type{
    font-weight: 700;
}

.titolo{
    padding: 0.5rem;
}

.price-info{
    padding: 1.5rem;
}

.piano-team{
    padding: 3rem 0;
}

div.right-team{
    margin-top: 1rem;
    min-width: 205px;
}

div.piano-team h4{
    padding: 1rem 0 3rem 0;
}

div.partner img{
    width: 60%;
}

.partner{
    padding: 7rem 0 9rem 0;
}

div.partner-info p{
    padding: 1rem 0 3rem 0;
}

.small-box{
    width: calc((100% / 3) - 3rem);
    padding: 1rem 0;
}

.small-box img{
    width: 100%;
}

div.small-box p{
    padding: 1.5rem 0;
}

.more{
    padding: 10rem 0;
}

.box{
width: calc(100% / 3);
}

.super-small-box{
    width: calc(100% / 2);
    aspect-ratio: 1;
}

div.super-small-box img{
    width: 50%;
    filter: invert(100%);
}

div.box>img{
    width: 45%;
}

div.box>hr{
    margin: 3rem 80% 3rem 0;
    height: 1px;
    background-color: lightgray;
    border: none;
}

div.box>p:first-of-type{
    padding-bottom: 3rem;
}

.prova-gratuita2{
    padding: 8rem 30rem;
}

.prova-gratuita2 h2{
    color: #61082A;
    width: 50%;
    padding-bottom: 0;
}

.prova-gratuita2 a{
    background-color: white;
    padding: 0.5rem 3rem;
    font-size: 1.2rem;
}

summary{
    display: inline;
}

div.domande-frequenti{
    padding: 10rem 0;
}

div.domande-frequenti hr{
    margin: 2rem 0;
}

footer{
    background-color: black;
    color: white;
}

.footer-info h3{
    padding: 1rem 0;
}

.footer-info a{
    color: white;
    padding: 0.5rem 0;
}

.footer-info div{
    padding: 5rem 0 7rem 0;
}

div.lingua p{
    padding: 3rem 0.3rem 3rem 0.5rem;
    color: #999999;
}

footer hr{
    margin-right: 74%;
    margin-left: 25rem;
}